html{
    background-color: #F7F4E6;
    background-image: url(../85cPic/BG_img.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right bottom;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* header */

.logo{
    display: block;
    width: 120px;
    position: absolute;
    top: 60px;
    left: 120px;
}

.nav_BG{
    display: block;
    position: absolute;
    z-index: -9;
    width: 64%;
    top: 90px;
    left: 150px;
}

.nav{
    width: 100%;
    display: flex;
    margin-top: 100px;
    margin-left: 250px;
}

.nav_item{
    margin: 0 30px;
    padding-top: 10px;
    color: white;
    font-size: 120%;
}

.search{
    display: block;
    width: 13%;
    position: relative;
    top: -10px;
    left: 70px;
}

.home{
    position: absolute;
    width: 5%;
    right: 3%;
    top: 38%;
}

/* picture */

picture{
    width: 100%;
    display: flex;
    justify-content: center;
}

.pic{
    width: 78%;
    margin-top: 5%;
}

/* article */

.row{
    display: flex;
    width: 100%;
    margin-top: 3%;
    margin-left: 11%;
    margin-right: 11%;
    margin-bottom: 10%;
}

.col_1{
    display: flex;
    width: 4%;
}

.tri{
    margin-top: 2%;
    height: 5%;
}

.col_2{
    flex-direction: column;
    /* flex-wrap: wrap; */
    display: flex;
    width: 10%;
    margin-top: -2%;
    margin-left: -2%;
}

.col_2_item{
    font-size: 180%;
    color: #921C2C;
    font-weight: bolder;
    width: 100%;
    margin-bottom: 0%;
    text-shadow: 0 0.1em 0.2em #989696;
}

.col_3{
    width: 50%;
}

.article_BG{
    height: 58%;
    width: 85%;
    margin-top: -3%
}

.col_3_item{
    position: relative;
    left: 5%;
    top: -56%;
    margin-bottom: 3.5%;
    font-weight: 500;
}

.col_4{
    width: 20%;
    margin-left: -5%;
}

.col_4_item{
    /* display: block; */
    height: 25%;
    width: 105%;
    margin-top: -7%;
    margin-bottom: 18%;
}


/* footer */

.footer_container{
    display: block;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: -23%;
}

.footer{
    max-width: 78%;
}

/* product */

.p2_icons{
    width: 72%;
    margin-top: 5%;
}

.p2_drinks{
    width: 78%;
    margin-top: 5%;
}

.footer_container2{
    display: block;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 3%;
}

.Rectangle_left{
    position: absolute;
    top: 110%;
    width: 8%;
    height: 62%;
}

.Rectangle_right{
    position: absolute;
    top: 110%;
    right: 0%;
    width: 8%;
    height: 62%;
}

.tri_left{
    position: absolute;
    left: 5%;
    top: 179%;
    width: 3%;
    height: auto;
}

.tri_right{
    position: absolute;
    right: 5%;
    top: 179%;
    width: 3%;
    height: auto;
}

/* store */

.p3_icons{
    width: 76%;
    margin-top: 5%;
}

.p2_store{
    width: 76%;
    margin-top: 5%;
}

.sideBar{
    position: absolute;
    left: 2.5%;
    top: 38.5%;
    width: 6%;
    height: auto;
}